#!/bin/bash

{{ if lookPath "apt" }}
sudo apt -qq -y install software-properties-common
sudo apt-add-repository ppa:ansible/ansible -y
sudo apt update -y
sudo apt -qq -y install ansible -y
{{ else }}
echo "No installation descriptor for this distro."
{{ end }}