{{/* personal machine information */}}
{{- $personalName := "Pedro Rodrigues" -}}
{{- $personalEmail := "pir.pedro@gmail.com" -}}
{{- $personalSigningKey := "59451A325CE1E195" -}}

{{- $workSigningKey := "426C5F3386CEEC28" -}}
{{- $workName := "Pedro Ivo Rodrigues" -}}
{{- $workEmail := "pir.pedro@gmail.com" -}}

{{- $isWork := contains "-work" (lower .chezmoi.hostname) -}}
{{- $isPersonal := not $isWork -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


{{/* boolean feature tags */}}
{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $isFedora := lookPath "gnome-shell" | not | not -}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (lookPath "/.dockerenv") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{/* environmental tags */}}
{{ $editor := "vim" }}
{{ $visual := "" }}
{{- $desktop_environment := env "XDG_CURRENT_DESKTOP" }}
{{- if $desktop_environment }}
{{-   $desktop_environment = (split ":" $desktop_environment)._1 | lower }}
{{- else }}
{{-   $headless = true }}
{{- end }}

{{ if lookPath "vim" }}
  {{ $editor = "vim" }}
{{ else if lookPath "nano" }}
  {{ $editor = "nano" }}
{{ end }}

{{ if lookPath "code" }}
  {{ $visual = "code" }}
{{ else }}
  {{ $visual = $editor }}
{{ end }}

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" }}
{{ $sudo = "" -}}
{{ end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  personal:
    name: {{ $personalName | quote }}
    email: {{ $personalEmail | quote }}
    signing_key: {{ $personalSigningKey | quote }}
  work: 
    name: {{ $workName | quote }}
    email: {{ $workEmail | quote }}
    signing_key: {{ $workSigningKey | quote }}
  is:
    personal: {{ $isPersonal }}
    work: {{ $isWork }}
    wsl: {{ $isWsl }}
    ephemeral: {{ $ephemeral }}
    headless: {{ $headless }}
  path:
    npm:
      global: .local/share/npm
  cmd:
    sudo: {{ $sudo }}
  env:
    de: {{ $desktop_environment }}
  github:
  {{- if $isPersonal }}
    name: {{ $personalName | quote }}
    email: {{ $personalEmail | quote }}
    signing_key: {{ $personalSigningKey | quote }}

  {{- else }}
    name: {{ $workName | quote }}
    email: {{ $workEmail | quote }}
    signing_key: {{ $workSigningKey | quote }}
  {{- end }}

  editor:
    terminal: {{ $editor | quote }}
    gui: {{ $visual | quote }}
  locale: "en_US.UTF-8"
  language: "en_US.UTF-8"

  browser: "google-chrome"
  osid: {{ $osID | quote }}

diff:
  exclude: ["scripts"]
  
template:
  options: ["missingkey=zero"]