# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

[ -f /usr/local/share/bash-completion/bash_completion ] && . /usr/local/share/bash-completion/bash_completion

{{ if eq .chezmoi.os "darwin" }}
if [[ "$OSTYPE" == "darwin"* ]]; then
  [[ "$SHELL" != "/bin/bash" ]] || {
    [ ! -f "$(brew --prefix)"/etc/bash_completion ] || . "$(brew --prefix)"/etc/bash_completion
  }
fi
{{ end }}
