#!/usr/bin/env bash
set -Eeuo pipefail

{{ template "prettier_shell_log" -}}

# Defaults XDG seguros
: "${XDG_CONFIG_HOME:=$HOME/.config}"
: "${XDG_CACHE_HOME:=$HOME/.cache}"
: "${XDG_DATA_HOME:=$HOME/.local/share}"
: "${XDG_STATE_HOME:=$HOME/.local/state}"

mkdir -p \
  "$HOME/.local/bin" \
  "$XDG_STATE_HOME/shell"

mkdir -p "$HOME/.ssh" && chmod 700 "$HOME/.ssh"
