" vi: filetype=vim
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Maintainer:
"       Pedro Rodrigues — @pirpedro
"
" Enhanced by: https://github.com/amix/vimrc
"
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

{{ template "vim/plugins.neo.vim" }}
{{ template "vim/basic.vim" }}
{{ template "vim/filetypes.vim" }}
{{ template "vim/plugins_config.neo.vim" }}

{{ template "vim/open_file_under_cursor.vim"}}
{{ template "vim/compile.vim"}}
{{ template "vim/gitcommit.vim"}}
